body
{
    background-color: rgb(42, 41, 41);
    color: white;
}

/*   NAVBAR   */

.logo img
{
    width: 70%;
}

.navbar
{
    background-color: black !important;
}

.navbar a
{
    color: white !important;
}

/*   ERROR   */

.error
{
    color: white;
    font-size: larger;
}

/*   MOVIES   */

.img-size
{
    width: 254px;
    height: 370px;
    overflow: hidden;
}

.card
{
    height: 500px;
}

/*   MOVIE   */

h2
{
    color: white;
    margin-left: 50px;
    margin-top: 30px;
}

.size-img
{
    width: 350px;
    height: 500px;
    margin-right: 60px;
}

.contain
{
    margin: 30px 250px 0px 250px;
}