body
{
    background-color: rgb(42, 41, 41);
}

/*   NAVBAR   */

.logo img
{
    width: 70%;
}

.navbar
{
    background-color: black !important;
}

.navbar a
{
    color: white !important;
}

h2
{
    color: white;
    margin-left: 50px;
    margin-top: 30px;
}