body
{
    margin: 0;
    background-color: rgb(42, 41, 41);
}


/*   NAVBAR   */

.logo img
{
    width: 70%;
}

.navbar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px 0px 50px;
    background-color: black;
}

.navbar button
{
    padding: 4px 8px 4px 8px;
    background-color: rgb(188, 3, 185);
    color: black;
    font-size: 15px;
}

.navbar button:hover
{
    background-color: rgb(198, 25, 163);
    color: black;
}

.navbar a
{
    text-decoration: none;
    color: black;
}
